<div class="row">
  <div class="col-md-4 about-left">
		<%= image_tag("logo.png", width: '100') %>

		<h5 class="about-name"><small>上海合気道秋风馆</small></h5>
		<h5 class="teacher"><small>指導者</small></h5>
		<h5 class="zbh">朱博海（三段）</h5>
		
		<p><%= link_to "首页", root_path %></p>
		<p><%= link_to "课程", course_path %></p>
		<p><%= link_to "联系我们", "#" %></p>
		<p>邮箱： <a href="mailto:info@aki-aikido.com">info@aki-aikido.com</a></p>

  </div>
  <div class="col-md-8 about-right">
  	<h3 class="text-left">合氣道</h3>
  	<p class="text-left">
			合气道，是开祖植芝盛平翁（1883~1969）钻研日本传统武术的深奥意义，经过严厉的的精神修行使之发 展成为现代的武艺。合气道不在力量上与对方相争，而从“入身IRIMI”和“转换TENKAN”运动产生的技能， 由于目的是制止对方的暴力，因此不杀伤对方的生命。可以说是对人生命的尊重，称誉为适合现代的武艺。这 也是合气道被认为是“和好”的武艺的原因。<br>
			合气道不进行比赛。通过彼此之间反复的练习达到技能的熟悉度，将身心锻炼作为目的，谁都能练习。坚 持长期的练习对健康的好处自不必说，在日常生活中什么事都能以积极的心态去面对，自信心也自然而然的被 培养出来。 因为在道场中，许多不同年龄、性别、职业、国籍的人聚集在一起，加强了人际交往，加深了理解 和沟通。合气道的练习没有结束。如果开始了练习就要坚持的练下去，不厌倦、不松懈寻找自己的合气道精神。 坚持练习是取得进步的第一步。也可以说是修习合气道的重要条件。
  	</p>
  	<%= image_tag("O-Sensei.jpg", width: '300') %>
		<hr>

		<h4 class="text-left">合気道上海秋风馆指導者朱博海（三段)</h4>
		<p class="text-left">	
		2003年开始在上海国际合气道爱好会练习合气道，至今有12年的合气道练习经验。<br>
		于2014年本部巡回审查由本部难波弘之师范审查获得三段。
		</p>
		<%= image_tag("zbh-aikido.JPG", width: '300') %>
  </div>
</div>