<div class="row">
  <div class="col-md-4 about-left">
		<%= image_tag("logo.png", width: '100') %>

		<h5 class="about-name"><small>上海合気道秋风馆</small></h5>
		<h5 class="teacher"><small>指導者</small></h5>
		<h5 class="zbh">朱博海（三段）</h5>
		
		<p><%= link_to "首页", root_path %></p>
		<p><%= link_to "课程", course_path %></p>
		<p><%= link_to "关于我们", about_path %></p>
		<p><%= link_to "联系我们", contact_path %></p>
		<p>邮箱： <a href="mailto:info@aki-aikido.com">info@aki-aikido.com</a></p>

  </div>
  <div class="col-md-8 about-right">
		<h2 class="text-left">上海合气道秋风馆道场礼仪及规则</h2>
		<p class="text-left">上海合气道秋风馆，旨在通过练习合气道以锻炼身心，促进会员间的友谊为目的。希望各会员遵守以下道场礼仪及规章制度。</p>

		<h4 class="text-left">上课前的准备</h4>
		<ol class="text-left">
		  <li>在练习之前，剪短手脚指甲并保持清洁，保持道服的干净整洁。将自己的鞋子放在所定的位置。</li>
		  <li>除去手表、戒指等首饰，避免使用硬质的发夹，防止练习时伤到对方或自己。</li>
		  <li>在上课之前30分钟-15分钟到达道场，尽快换好衣服，汲水擦垫子等场地义务活动。</li>
		  <li>保持个人衣服等携带物品排列整齐，将自己的手机电话等设置成消音状态。</li>
		  <li>练习之前，解决个人琐事。</li>
		  <li>练习开始之前，做自由练习时，提前一定要做热身活动。突然开始做保护受身，练习是非常危险的。</li>
		</ol>

		<h4 class="text-left">上课中的注意</h4>
		<ol class="text-left">
		  <li>当进入或者离开道场（垫子）时，应该要向道场的正面行礼。开始训练之前，尽早整齐地坐好，等待老师或
		    当天的指导员的进场。</li>
		  <li>任何时候请保持行，坐，立姿势的良好和端正，请保持一个习武者的形象。</li>
		  <li>如果迟到，请先在垫子外正坐，等得到老师/当天的指导员允许后，再上垫子，行礼，进入道场训练。</li>
		  <li>不要背对着开祖的挂轴跪坐。</li>
		  <li>老师/当天的指导员表示指导完后，大家一起行礼，尽快找练习伙伴。找练习伙伴时，不要把对方的肩膀拍 
		    下，胳膊拉引等。互相面对做行礼，开始练习。</li>
		  <li>在老师/当天的指导员讲课时，严禁交头接耳，用手帕等擦脸，整理头发等行为。道场内，不要随意走动。</li>
		  <li>训练当中，如果整理衣服，背对练习的同伴，在道场的角落或者边上迅速的整理。上/下课的默思前，保持
		    道服穿着整齐。</li>
		   <li>牢记不要用蛮力，别钻牛角尖。记住在道场我们是合気道的练习者，不是来满足自我虚荣心的。</li>
		   <li>为提高自己水平，请积极的邀请比自己级别高的前辈或者黑带练习。</li>
		</ol>

		<h4 class="text-left">旁观者的注意</h4>
		<ol class="text-left">
			<li>
			  Migeiko（見稽古，由于受伤或生病或其他原因不能参加训练的学员）或参观者，应该在垫子旁端正的坐，
		    安静的听课，不要很随便的大声说话和随意走动。不得吸烟，嚼口香糖等，手机呼机请设置为消音，不要打 
		    扰上课。以及参观者不得随意摄像摄影。
		  </li>
		  <li>
		   	Migeiko必须看完全部上课的过程，经当场的指导老师认可才可以算做0.25课时。
		  </li>
		  <li>
		   	参观者，应该提前预约，不能私自入室。
		  </li>
		</ol>

		<h4 class="text-left">其他注意事项</h4>
		<ul class="text-left">
			<li>
				秋风馆将负责您的合气道训练课程，道场的练习费必须在到期日前交付，所缴交的所有费用不能退还和转让。
			所有学员必须签订《免除责任协定》，并将其交给您的道场指导员，没有签订此协定者将不能参加训练。
			道场每年举行 2 次审查考试，只有注册成为正式会员后才可以参加升级审查考试。
			会员如离开秋风馆超过两年 ( 在这段期间内未交纳练习费 )，则需重新报名注册。
			秋风馆不对学员在道场中的财产损失或失窃负责，学员应妥善保管个人财物。	
			</li>
		</ul>
  </div>
</div>