
<div class="row">
  <div class="col-md-4 about-left">
		<%= image_tag("logo.png", width: '100') %>

		<h5 class="about-name"><small>上海合気道秋风馆</small></h5>
		<h5 class="teacher"><small>指導者</small></h5>
		<h5 class="zbh">朱博海（三段）</h5>
		
		<p><%= link_to "首页", root_path %></p>
		<p><%= link_to "课程", course_path %></p>
		<p><%= link_to "关于我们", about_path %></p>
		<p><%= link_to "联系我们", contact_path %></p>
		<p>邮箱： <a href="mailto:info@aki-aikido.com">info@aki-aikido.com</a></p>

  </div>
  <div class="col-md-8 about-right">
  	<h1>练习安排<small>每星期课程安排</small></h1>
  	<table class="table table-bordered">
			<tr>
				<td rowspan=2 class="class-date">每周二,四</td>
				<td>19:00-20:00	初级者课程，欢迎老生参加</td>
			</tr>
			<tr>
				<td>20:00-21:00	5级以上课程</td>
			</tr>
		</table>
		<p>参加练习请至少提前15~30分钟到道场，练习时需穿着合气道道服或柔道服，女生建议准备贴身背心及头绳。</p>
		<p>如果是首次参加道场练习，请事先阅读<a href="#">道场礼仪</a>，以帮助您更快的进入练习状态。</p>
  	
		<table class="table table-bordered">
		  <thead>
        <tr>
          <th colspan=3 class="text-center">
          	练习费用（RMB）
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>会员</td>
          <td>访客</td>
        </tr>
        <tr>
          <th scope="row">月卡</th>
          <td>300</td>
          <td>-</td>
        </tr>
        <tr>
          <th scope="row">年卡</th>
          <td>2800</td>
          <td>-</td>
        </tr>
        <tr>
          <th scope="row">次卡（10次，三个月内有效</th>
          <td>400</td>
          <td>-</td>
        </tr>
        <tr>
          <th scope="row">单次</th>
          <td>-</td>
          <td>50</td>
        </tr>
        <tr>
          <td colspan=3>
						*单次练习费用限短期到访的合气道经验者。<br>
						*试运行期间，新生优惠价：月卡200元，次卡300元（10次，三个月内有效） 【此活动截止到2015年12月】<br>
						*已缴练习费用仅限本人使用。
          </td>
        </tr>
      </tbody>
    </table>
    <%= image_tag("banner-1.jpg", width: '820') %>
  </div>
</div>