<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand"><%= image_tag("logo.png", width: '90')  %></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><%= link_to "首页", root_path %></li>
              <li><%= link_to "课程", course_path %></li>
              <li><%= link_to "联系我们", contact_path %></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">合気道上海秋风馆</h1>
        <p class="lead">秋为荣景，借敝馆相师广友，绵薄之力， 愿合气盛荣。<br>
秋为有成，吾欲细心耕耘，不求速达， 但有小成。<br>
秋风习习，不及夏雨贯耳 ，冬雪凄厉，浑然天成 ，扫天下落叶。<br>
合气之道， 如是也。</p>
        <p class="lead">
          <%= link_to "了解我们", about_path, class: "btn" %>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Aki-Aikido 2015</p>
        </div>
      </div>

    </div>

  </div>

</div>
